* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 70rem;
  padding: 3em 1em;
}

header {
  /* min-height: 60vh; */
  color: white;
  line-height: 1.5;
}

header .container {
  display: flex;
  flex-direction: column;
}

.main-section {
  padding-top: 50px;
  max-width: 50rem;
  align-self: center;
}

.main-section h1 {
  font-size: 3rem;
}

.main-section p {
  font-size: 1.7rem;
  margin: 2rem 0;
}

/* why ===================================== */
.container--narrow {
  max-width: 40rem;
}
.why {
  line-height: 2;
}
.why,
.volunteer {
  display: flex;
  align-items: center;
}
.why p {
  padding: 1em 0;
}

h2 {
  font-size: 2rem;
}

.why p,
.both p,
.volunteer {
  font-size: 1.2rem;
  margin: 1rem 0;
}

/* visit ========================================== */
.both {
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 2;
}

.volunteer h2,
.volunteer p {
  margin-bottom: 1em;
}

.volunteer a:hover {
  opacity: 0.5;
}

@media (max-width: 40rem) {
  .split {
    flex-direction: column;
  }
}

.split > * {
  flex: 1;
}

.split img {
  padding: 0 4rem;
}

.split h3,
.split p {
  margin: 1rem 0;
}

.btn {
  color: black;
  border: 1px #979797 solid;
  padding: 0.5em 3em;
  margin-top: 1rem;
  display: inline-block;
}

.btn:hover {
  background: lightgray;
}

.info-footer {
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: 1px solid black;
}
footer .container {
  padding: 1em 0;
}

footer a {
  color: black;
}

.footer-paragraph a {
  text-decoration: underline;
}

address {
  font-style: normal;
}

footer a:hover {
  opacity: 0.5;
}

header,
.both {
  background: #202020;
}
